//colors
$yellow: #ffa619;
$purple: #6c3c97;
$dark-grey: #0e0e0e;
$white: #ffffff;
$black: #000000;

//font
$text-font: 'open_sanslight', Helvetica, Arial, sans-serif;
$text-font-bold: 'open_sansregular', Helvetica, Arial, sans-serif;
$title-font: 'ostrich_sansmedium', Helvetica, Arial, sans-serif;
$title-font-bold: 'ostrich_sansblack', Helvetica, Arial, sans-serif;