@media (max-width:600px){
    #clickNav{ 
        left: 3vh; 
    }
} 

@media (max-width:600px){
    #editUser{
        display: block;
        align-items: center;
        justify-self: center;
        h4{
            margin-top: 2%;
            margin-bottom: 15%;
        }
    }
}

@media (max-width:600px){
    #userContainer img{
        padding-right: 0;
        padding-left: 0;
    }
}

@media (max-width:600px){
    #videoImg{
        height: 32%;
        width: 32%;
    }
    #audioImg{
        height: 32%;
        width: 32%;
    }
    #mediaCovers img{
        cursor: pointer;
        padding: 2%;
    }
    #mainVideo{
        width: 100%;
        height: 100%;
    }
}

@media (max-width:800px){
    #videoGenres a{
        padding: 7%;
    }
} 

@media (max-width:800px){
    #videoDetails{
        margin-top: 15%;
        padding-right: 10%;
        padding-left: 10%;
        h3{
            margin-bottom: -1%;
        }
        p{
            padding-top: 7%;
        }
    }
    #audioDetails{
        margin-top: 15%;
        padding-right: 10%;
        padding-left: 10%;
        h3{
            margin-bottom: -1%;
        }
        p{
            padding: 7% 0 0 0;
        }
    }
}