#userOptions{
    margin-top: 10%;
    nav{
        width: 100%;
        height: auto;
    }
}

#editUser{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: center;
    justify-content: space-evenly;
    h4{
        margin-top: 10%;
    }
    li{
        cursor: pointer;
    }
}

.createUserForm{
    form{
        p{
            color: $white;
        }
        button{
            color: $white;
            background: $yellow;
            padding: 2%;
            cursor: pointer;
        }
    }
}